<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profiles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="doSearch($event)">
  </ion-searchbar>
  <ion-list *ngIf="result">
    <button ion-item *ngFor="let person of result?.entries" (click)="gotoPerson(person)">
      <ion-avatar item-start>
        <img width="80" height="80" item-left *ngIf="person.picture" [src]="person.picture | fromBase64"/>
        <ion-icon *ngIf="!person.picture" name="person"></ion-icon>
      </ion-avatar>
        <ion-icon name="star" item-right *ngIf="person.followed"></ion-icon>
        <ion-icon name="star-outline" item-right *ngIf="!person.followed"></ion-icon>
        <h2>{{person.name}}</h2>
        <p>{{person.country}}</p>
    </button>
  </ion-list>

   <ion-infinite-scroll (ionInfinite)="onScroll($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
