<ion-list *ngIf="result">

<ion-item *ngFor="let thread of result?.entries">
      <ion-avatar item-start>
        <a (click)="gotoPerson(thread.user.id)"><img width="80" height="80" item-left [src]="sanitize(thread.user.picture)"/></a>
      </ion-avatar>

  <h2>{{thread.user.name}}</h2>
  <p (click)="gotoThread(thread.user.id)">
      <span *ngIf="thread.incoming" class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      {{thread.message.content}}
      <span *ngIf="thread.message.status == 'Read'" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </p>
      <div class="small text-muted text-right">{{thread.message.created_at | amTimeAgo }}</div>
</ion-item>
</ion-list>