<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{with?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="messages-with">

  <ion-card *ngFor="let message of result?.entries.reverse()" [ngClass]="{'toMe': toMe(message), 'fromMe': !toMe(message)}" (vp-in-view)="markRead(message)">
    <ion-item>
        <ion-avatar item-left>
          <img [src]="sanitize( toMe(message) ? with.picture : me.picture)"/>
        </ion-avatar>
        <ion-note item-right>
          {{ message.created_at | amTimeAgo }}
          <ion-icon name="checkmark" *ngIf="!toMe(message) &amp;&amp; message.status == 'Read'"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-card-content>
      <p>{{message.content}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <textarea class="form-control well" [(ngModel)]='newMessage' (keydown.enter)="sendMessage();false" >
    </textarea>
  </ion-card>
</ion-content>
