<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title i18n="@@loginHeader">Log In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list >
        <form [formGroup]="loginForm" >
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="email" [formControl]="loginForm.controls['email']" placeholder="Email" class="form-control" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" [formControl]="loginForm.controls['password']"  placeholder="Password" class="form-control" required></ion-input>
          </ion-item>
          <ion-item class="text-danger" *ngIf="loginFail">
            Username and password were not correct.
          </ion-item>
          <ion-item>
            <button ion-button type="submit" name="login" (click)="submitForm(loginForm.value)">Login</button>
          </ion-item>
        <ion-item>
<ion-label i18n="@@languageSelect">Select language</ion-label> <ion-select name="selectLocale" (change)="changeLocale($event.target.value)">
<ion-option value="en">English</ion-option>
<ion-option value="es">Español</ion-option>
<ion-option value="po">Português</ion-option>
<ion-option value="fr">Français</ion-option>
</ion-select>
      </ion-item>
        </form>
    </ion-list>
</ion-content>