ion-avatar img.medavatar {
  width: 120px !important;
  height: 120px !important;
  margin: auto;
  display: block;
  border-radius: 50%;
overflow: hidden;
}
a { text-decoration: none }
h3 {
  padding-bottom:12px;
}
ion-col a {
       display: -webkit-flex;
       display: flex;
       -webkit-flex-direction: row;
       flex-direction: row;
       -webkit-align-items: center;
       align-items: center;
       -webkit-justify-content: center;
       justify-content: center;
       font-size: 1.2rem;
  ion-icon {
    font-size: 22px;
  }
}

ion-textarea {
  padding-left: 0px;
}

.event p {
  margin-bottom: 10px;
}

p.organisation {
  margin-bottom: 1em;
}