<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      {{person?.name}}
      <a item-right *ngIf="person?.email && person?.preferred_contact == 'email'" href="mailto:{{person?.email}}" class="btn-lg"><ion-icon name="mail"></ion-icon></a>
      <button item-right (click)="addContact()">
        <ion-icon name="add"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="person">
    <ion-item>
        <ion-avatar item-left><img [src]="person?.picture | fromBase64"/></ion-avatar>
        <span *ngFor="let role of person?.roles">
          <ion-badge>{{role}}</ion-badge> </span>
        <br>
        <button ion-button (click)="messages(person.id)">
          <ion-icon name="mail-open"></ion-icon> Message
        </button>
        <span *ngIf="person.followed">
          <button ion-button (click)="unfollow()">Unfollow</button>
        </span>
        <span *ngIf="!person.followed">
          <button ion-button outline (click)="follow()">Follow</button>
        </span>
    </ion-item>
    <ion-item>
      Preferred Method of Contact
      <ion-note item-end>{{person?.preferred_contact}}</ion-note>
    </ion-item>
    <ion-item>
      <h2>Bio</h2>
      <p>{{person?.intro_bio}}</p>
    </ion-item>
    <ion-item>
      <h2>Experience</h2>
      <span  *ngFor="let e of person?.experience; let last = last">
        <a (click)="peopleSearch({'experience':e})">{{e}}</a><span *ngIf="!last">, </span>
      </span>
    </ion-item>
    <ion-item>
      {{ 'PeopleRegions' | translate }} 
      <ion-note item-end>
        <span  *ngFor="let r of person?.regions; let last = last">
          <a (click)="peopleSearch({'region':r})">{{e}}</a><span *ngIf="!last">, </span>
        </span>
      </ion-note>
    </ion-item>

  <ion-list-header>
    Affiliations
  </ion-list-header>
    <div *ngFor="let affiliation of person?.affiliations; let i = index; ">
      <ion-item>
        <h2>{{affiliation.position}}</h2>
        <ion-note>
          <a href="" onclick="window.open(affiliation.website, '_system', 'location=yes')">{{affiliation.organisation}}</a>
        </ion-note>
      </ion-item>
    </div>

  <ion-list-header>
     My notes
   </ion-list-header>
      <ion-item>
        <ion-textarea placeholder="My notes" [(ngModel)]='annotation' (change)="saveAnnotation();false"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>