<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Edit Profile</ion-title>
      <ion-buttons end>
        <button ion-button *ngIf="dirty" (click)="save()" color="danger">
          Save changes
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-list class="person row" *ngIf="person">
  <ion-item>
    <ion-avatar item-start>
        <img width="80" height="80" item-left [src]="person.picture | fromBase64"/>
      </ion-avatar>
    <h3>{{person?.name}}</h3>
  </ion-item>
  <ion-item>
    Preferred Method of Contact
    <ion-note item-end (click)='showPrefContactRadio()'>{{person?.preferred_contact}}</ion-note>
    <p (click)='showPermissions("preferred_contact")'>Who can see this?</p>
      </ion-item>
      <ion-item>
        Intro Bio
        <ion-note item-end>{{person?.intro_bio}}</ion-note>
      </ion-item>
)
</ion-list>
</ion-content>
