<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Edit Profile</ion-title>
      <ion-buttons end>
        <button ion-button *ngIf="dirty" (click)="save()" color="danger">
          Save changes
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-item-group *ngIf="person">
  <ion-item>
    <ion-avatar item-start>
        <img width="80" height="80" item-left [src]="person.picture | fromBase64"/>
      </ion-avatar>
    <h3>{{person?.name}}</h3>
  </ion-item>
  <ion-item-divider color="primary">Basic information</ion-item-divider>
    <ion-item class="goeswithfollowing">
      <ion-label>Preferred Method of Contact</ion-label>
          <ion-select [(ngModel)]="person.preferred_contact" (ionChange)="dirty = true">
            <ion-option value="Email">Email</ion-option>
            <ion-option value="SMS">SMS</ion-option>
            <ion-option value="Phone (Voice)">Phone (Voice)</ion-option>
            <ion-option value="Skype">Skype</ion-option>
            <ion-option value="Facebook">Facebook</ion-option>
            <ion-option value="LinkedIn">LinkedIn</ion-option>
            <ion-option value="Whatsapp">Whatsapp</ion-option>
            <ion-option value="Other">Other</ion-option>
          </ion-select>
    </ion-item>
    <ion-item class="whocansee">
      <p item-content (click)='showPermissions("preferred_contact")'>Who can see this?</p>
    </ion-item>
    <ion-item class="goeswithfollowing">
      <ion-label>Intro Bio
      </ion-label>
      <ion-textarea (ionChange)="dirty = true" [(ngModel)]="person.intro_bio"></ion-textarea>
    </ion-item>
    <ion-item class="whocansee">
      <p item-content (click)='showPermissions("intro_bio")'>Who can see this?</p>
    </ion-item>
    <ion-item-divider color="primary">Affiliations</ion-item-divider>
    <div *ngFor="let affiliation of person.affiliations; let idx = index; let last=last ">
        <ion-item-divider>
            <button ion-button color="danger"  item-end>
              <ion-icon name="trash" (click)="killAffiliation(idx)"></ion-icon>
            </button>
            <button ion-button item-end *ngIf="last">
              <ion-icon name="add" (click)="addAffiliation()"></ion-icon>
            </button>
            Affiliation {{1+idx}}
        </ion-item-divider>
      <ion-item class="my-inset">
        <ion-label floating>Organisation</ion-label>
        <ion-input (ionChange)="dirty = true" [(ngModel)]="affiliation.organisation"></ion-input>
      </ion-item>
      <ion-item class="my-inset">
        <ion-label floating>Position</ion-label>
        <ion-input (ionChange)="dirty = true" [(ngModel)]="affiliation.position"></ion-input>
      </ion-item>
      <ion-item class="my-inset">
        <ion-label floating>Website</ion-label>
        <ion-input (ionChange)="dirty = true" [(ngModel)]="affiliation.website"></ion-input>
      </ion-item>
    </div>
    <ion-item-divider color="primary">Personal Information</ion-item-divider>
      <ion-item>
      <ion-label>Country of Residence</ion-label>
          <ion-select [(ngModel)]="person.country" (ionChange)="dirty = true">
            <ion-option *ngFor="let country of picklists.countries">{{country}}</ion-option>
          </ion-select>
      </ion-item>
      <ion-item>
      <ion-label>Country of Citizenship</ion-label>
          <ion-select [(ngModel)]="person.citizenship" (ionChange)="dirty = true">
            <ion-option *ngFor="let country of picklists.countries">{{country}}</ion-option>
          </ion-select>
      </ion-item>
</ion-item-group>
</ion-content>
