.my-inset {
  margin-left: 20px;
}
.goeswithfollowing.item-block {
  .item-inner { border-bottom: none; }
}
.whocansee { width: 100%;
  min-height: 20px;
  p {  padding-left: 20px;}
  ion-label { display: none; }
  .item-inner .input-wrapper { height: 20px; }
  .item-inner { min-height: 20px; }
}
.input-wrapper { flex-flow: row wrap; }
ion-textarea { padding-left: 40%; }